SECRET_KEY=django-insecure-change-this-key-for-production
DEBUG=True
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@example.com
STRIPE_API_KEY=sk_test_change_me
STRIPE_CURRENCY=rub
EXTERNAL_URL=http://localhost:8000
